a{
    color: inherit !important;
    display: inline-block !important;
    text-decoration: none;
}
/* Navbar Start */
.nav-item .active{
    color:white !important;
    border-bottom:solid #F9BF29 4px;
}
.nav-link{
    font-weight: 500;
    transition: all 0.3s;
    width: fit-content;
}
.nav-link:hover{
    color: white !important;
}
/* Navbar End */
/* Hero section Start */
.hero-section{
    background-color: #3B5D50;
}
/* Hero section End */
/* Services Start */
.border-image{
    border: #212529 solid 4px;
}
.icons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #f8f9fa;
    margin: 0 0 10px 0; 
}
/* Services End */
/* Blog Start */
.blog-images {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .blog-images img {
    transition: all 0.3s;
  }
  
  
  .blog-images::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.438);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .blog-images:hover::after {
    opacity: 1;
  }
  
/* Blog End */
/* Contact Start */
.bootstrap-inputs:focus {
  border-color: #3B5D50; 
  box-shadow: 0 0 0 0.2rem #3b5d5050;
  outline: none;
}
/* Contact End */